//! This is for layouting and adding thr basics 
@import url('https://fonts.googleapis.com/css?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$display-font: 'Judson', sans-serif;
$black: #171B37;
$white: #FAFAFA;
$pink: #6F5081;
$gray: #ECE6EF;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $black;
}

html, body{
    background: $gray;
    font-family: 'Monstserrat', sans-serif;
}

@import './navigation';
@import './dashboard';
@import './posts'